# State-level Census API calls


Link to the census API documentation: https://pypi.python.org/pypi/census

In [29]:
# Install these prior to running anything
# !pip install census
# !pip install us

### Import Libraries

In [1]:
from census import Census
from us import states
import csv
import pandas as pd
import numpy as np

#Custom API Key below
# API Key can be obtained here: https://api.census.gov/data/key_signup.html
c = Census("INSERT KEY HERE")

## Import Reference File and fill blank values

In this file, there are 2 fields with API field IDs:
- **Single_Field**: This is the ID for an attribute where the value can be pulled using just one field
- **Agg_Field**: This is a list of comma-delimited IDs that is used when an multiple fields need to be aggregated to provide the value we're seeking

In [2]:
field_ref = pd.read_csv('./Census_Field_Master.csv').fillna('NA')

## Function to pull state-level metrics

**Inputs**:
- A full state name
- A state's Federal Information Processing Standard code
- The year you'd like to pull data for

**NOTE**: I am using 5-year ACS data in the function below. This can be changed, if needed.

In [3]:
def state_demographics(state, state_fips, api_year):
    demo_list=[]
    
    for i in range(len(field_ref['Single_Field'])):
        tmp=0
        single_field_id = field_ref['Single_Field'][i]

        
        ### First, check to see if the value can be found with just 1 call to the API, 
        ### or if we need to aggregate the value with multiple API calls.
        
        if single_field_id == 'NA':
            
            ### If we need to compile multiple attributes to formulate the right value,
            ### we split the "Agg_Field" by  the comma, and make an API call for each field ID
            
            agg_fields = field_ref['Agg_Field'][i]
            agg_fields = agg_fields.split(',')
            for j in agg_fields:
                tmp += c.acs5.state(('NAME', j), state_fips, year=api_year)[0][j]
            demo_list.append({'State':state,'Attribute':field_ref['Description'][i],'Value': tmp,'Year':api_year})
            
        ### If we don't need to aggregate multiple fields, we can just make a single call
        
        else:
            tmp = c.acs5.state(('NAME', single_field_id), state_fips, year=api_year)[0][single_field_id]
            demo_list.append({'State':state,'Attribute':field_ref['Description'][i],'Value': tmp,'Year':api_year})
            
    ### return the data in the form of a list
    
    return demo_list

### Loop through each US state and execute the function created above.

In [4]:
### Create a mapping dictionary to map a state name to the FIPS code
state_dict = states.mapping('name', 'fips')
agg_demo_list = []

### Call the 'us.states' library for a list of all state names
for i in states.STATES:
    
    ### append each state's execution to a list
    ### to get the state FIPS code, I'm referencing the mapping dictionary created above
    agg_demo_list.extend(state_demographics(str(i),state_dict[str(i)],2015))
    
    
### Convert the compiled list to a pandas dataframe for further processing
d = pd.DataFrame(agg_demo_list)

### Print the resulting data frame

In [5]:
d

,Attribute,State,Value,Year
0,Total Population,Alabama,4830620.0,2015
1,Population - Male,Alabama,2341093.0,2015
2,Population - Female,Alabama,2489527.0,2015
3,Age - Under 5,Alabama,295054.0,2015
4,Age - 5-9,Alabama,305714.0,2015
5,Age - 10-14,Alabama,318437.0,2015
6,Age - 15-17,Alabama,192769.0,2015
7,Age - 18-19,Alabama,131251.0,2015
8,Age - 20,Alabama,73193.0,2015
9,Age - 21,Alabama,74243.0,2015
10,Age - 22-24,Alabama,200608.0,2015
11,Age - 25-29,Alabama,314792.0,2015
12,Age - 30-34,Alabama,306800.0,2015
13,Age - 35-39,Alabama,293887.0,2015
14,Age - 40-44,Alabama,315528.0,2015
15,Age - 45-49,Alabama,320322.0,2015
16,Age - 50-54,Alabama,345050.0,2015
17,Age - 55-59,Alabama,326349.0,2015
18,Age - 60-61,Alabama,123802.0,2015
19,Age - 62-64,Alabama,173495.0,2015
20,Age - 65-66,Alabama,105620.0,2015
21,Age - 67-69,Alabama,135598.0,2015
22,Age - 70-74,Alabama,175765.0,2015
23,Age - 75-79,Alabama,130493.0,2015
24,Age - 80-84,Alabama,90228.0,2015
25,Age - 85 years and over,Alabama,81622.0,2015
26,Median age (years),Alabama,38.4,2015
27,RACE - One race,Alabama,4748974.0,2015
28,RACE - One race - White,Alabama,3325464.0,2015
29,RACE - One race - Black or African American,Alabama,1276544.0,2015
...,...,...,...,...
48,Age - 21,Alaska,12327.0,2015
49,Age - 22-24,Alaska,36418.0,2015
50,Age - 25-29,Alaska,60674.0,2015
51,Age - 30-34,Alaska,53504.0,2015
52,Age - 35-39,Alaska,46219.0,2015
53,Age - 40-44,Alaska,45397.0,2015
54,Age - 45-49,Alaska,47548.0,2015
55,Age - 50-54,Alaska,53126.0,2015
56,Age - 55-59,Alaska,51498.0,2015
57,Age - 60-61,Alaska,18537.0,2015
58,Age - 62-64,Alaska,22231.0,2015
59,Age - 65-66,Alaska,12454.0,2015
60,Age - 67-69,Alaska,14203.0,2015
61,Age - 70-74,Alaska,17146.0,2015
62,Age - 75-79,Alaska,9728.0,2015
63,Age - 80-84,Alaska,6773.0,2015
64,Age - 85 years and over,Alaska,5402.0,2015
65,Median age (years),Alaska,33.4,2015
66,RACE - One race,Alaska,671620.0,2015
67,RACE - One race - White,Alaska,484250.0,2015
68,RACE - One race - Black or African American,Alaska,25022.0,2015
69,RACE - One race - American Indian and Alaska N...,Alaska,101313.0,2015
70,RACE - One race - Asian,Alaska,42921.0,2015
71,RACE - One race - Native Hawaiian and Other Pa...,Alaska,8841.0,2015
72,RACE - One race - Some other race,Alaska,9273.0,2015
73,RACE - Two or more races,Alaska,61755.0,2015
74,RACE - Two or more races - White and Black or ...,Alaska,6886.0,2015
75,RACE - Two or more races - White and American ...,Alaska,32336.0,2015
76,RACE - Two or more races - White and Asian,Alaska,7879.0,2015
77,RACE - Two or more races - Black or African Am...,Alaska,2285.0,2015